$lightGrey: rgba(239,238,234,1);
$darkGrey: rgba(107,107,105,1);
$lightGreen: rgba(210,218,196,1);
$deepGreen: rgba(121,144,117,1);
$orange: rgba(240,153,0,1);

$gutter: 3em;

$headerHeight: 3em;

body {

    p {
        margin: 0;
        padding: 0;
    }

    padding: 0;
    margin: $headerHeight 0 0;
    text-transform: lowercase;

    font: {
        family: 'Comfortaa', cursive;
    }

    .signature {
        height: $headerHeight;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

}

a, .link {
    text-decoration: none;
    color: $orange;
    letter-spacing: .1em;
    width: inherit;
    height: auto;
}

.link-alt {
    color: $darkGrey;
}

.section-title {
    text-decoration: underline;
}

.header {

    margin: 0;
    padding: 0 $gutter;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: $deepGreen;
    color: $lightGrey;
    text-shadow: 0 0 6px $darkGrey;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 6em);
    height: $headerHeight;
    z-index: 100;

    section {
        &:first-child {
            text-align: left;
        }

        &:nth-child(2) {
            text-align: center;
        }

        &:last-child {
            align-items: flex-end;
        }
    }

    .menu {

        display: flex;
        flex-flow: row-reverse nowrap;

        .menu-link {
            margin: 0 0 0 0.5em;
            cursor: pointer;
        }

    }

}

.fullscreen {

    padding: 0 $gutter;
    min-height: 70vh;
    width: calc(100vw - 6em);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background: $lightGreen;
    color: $orange;
    align-items: flex-end;

    .ghost {
        height: 0;
        width: 100%;
    }

    .headshot {
        width: 24em;
        border-radius: 1em;
        box-shadow: 0 0 3px 1px $darkGrey;
        border: none;
    }

    &:nth-child(2n) {
        background: $lightGrey;
    }

    .content {
        margin: 1em 0 0 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $darkGrey;
    }

    .project {
        margin: 1em 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

}

.content section {
    width: 30em;
    color: $darkGrey;
}

.wrapper {

    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    &.row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &.end {
            justify-content: flex-end;
        }
    }

    &.col {
        height: 50vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    :nth-child(2n) {
        align-self: flex-end;
    }

}

footer {
    background: $deepGreen;
    color: $lightGrey;
    text-shadow: 0 0 6px $darkGrey;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
